{% extends 'crmApp/base.html' %}
{% block content %}
<div class="panel">
<div class="container">
    <div class="panel__title">панель управления</div>
    <form method="post">
        {% csrf_token %}
    <div class="blocks-row">

        <div class="block">
            <label class="block__title" for="{{ form.checkBoxOrders.id_for_label }}">{{ form.checkBoxOrders.label }}</label>
            <div class="block__onoff">{{ form.checkBoxOrders }}</div>
            <label class="block_setting-label" for="{{ form.depthDaysOrders.id_for_label }}">{{ form.depthDaysOrders.label }}</label>
            <div class="block__setting">{{ form.depthDaysOrders }}</div>
        </div>
        <div class="block">
            <label class="block__title" for="{{ form.checkBoxProducts.id_for_label }}">{{ form.checkBoxProducts.label }}</label>
            <div class="block__onoff">{{ form.checkBoxProducts }}</div>
            <label class="block_setting-label" for="{{ form.depthDaysProducts.id_for_label }}">{{ form.depthDaysProducts.label }}</label>
            <div class="block__setting">{{ form.depthDaysProducts }}</div>
        </div>
        <div class="block">
            <label class="block__title" for="{{ form.checkBoxGroups.id_for_label }}">{{ form.checkBoxGroups.label }}</label>
            <div class="block__onoff">{{ form.checkBoxGroups }}</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Импорт из Ali</button>
    </form>
</div>
</div>

{#    <div id="ordersDepth">#}
{#    {{ form.checkBoxOrders.label_tag }} {{ form.checkBoxOrders }}#}
{#    {{ form.depthDaysOrders.label_tag }} {{ form.depthDaysOrders }}#}
{#    </div>#}
{##}
{#    <div id="productsDepth">#}
{#    {{ form.checkBoxProducts.label_tag }} {{ form.checkBoxProducts }}#}
{#    {{ form.depthDaysProducts.label_tag }} {{ form.depthDaysProducts }}#}
{#    </div>#}
{#    <div id="groupsUpdate">#}
{#    {{ form.checkBoxGroups.label_tag }} {{ form.checkBoxGroups }}#}
{#    </div>#}
{#    {{ form.as_p }}#}

{% endblock %}