{% extends 'crmApp/base.html' %}

{% block title %}List of orders{% endblock %}

{% block content %}
{% for item in data %}
    <div>
    <a href=' {% url "crm:order_info" id=item.order_id %}'>{{ item.gmt_create }}</a>
    {{ item.order_status }}
    {{ item.order_id }}
    {{ item.fund_status }}
    {{ item.products_list_names }}
    </div>
{% endfor %}
<div>
{%  if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">&lt;</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
{% endif %}
Часть № {{ page.number }} из {{  page.paginator.num_pages }}
 {%  if page.has_next %}
     &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="?page={{ page.next_page_number }}">&gt;</a>
{% endif %}
</div>
{% endblock %}