{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>

<div id="header">
    <span class="logo">Bookmarks</span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
        <li {% if section == "dashboard" %} class="selected"{% endif %}>
        <a href="{% url "crm:dashboard" %}">My dashboard</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
        <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
        <a href="#">People</a>
        </li>
        </ul>
    {% endif %}
    <span class="user">
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }} ({{ request.user.username }}),
        <a href="{% url "crm:logout" %}">Logout</a>
        {% else %}
        <a href="{% url "crm:login" %}">Log-in</a>
    {% endif %}
    </span>

</div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>