{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <title>{% block title %}Ali express my CRM{% endblock %}</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-darget=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "crm:dashboard" %}">MyCRM</a>
        </div>
{#        <div class="collapse navbar-collapse">#}
{#            #}
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url "crm:dashboard" %}">My dashboard</a> </li>
                <li><a href="{% url "crm:products_list" %}">Products</a> </li>
                <li><a href={% url "crm:orders_list" %}>Orders</a></li>
                <li><a href={% url "crm:load_avangard" %}>Loading from avangard</a></li>
            </ul>
{#        </div>#}
    </div>

</div>

{% if request.user.is_authenticated %}
    Hello {{ request.user.first_name }} ({{ request.user.username }}),
    <a href="{% url "crm:logout" %}">Logout</a>
{% else %}
    <a href="{% url "crm:login" %}">Log-in</a>
{% endif %}


{#    <div class="container">#}
{#      <div class="row justify-content-center">#}
{#        <div class="col-15">#}
{#          <hr class="mt-0 mb-4">#}
          {% block content %}
          {% endblock %}
{#        </div>#}
{#      </div>#}
{#    </div>#}
</body>
</html>